* {
    font-family: 'Inter', sans-serif;
}

.btn-primary {
    padding: 16px 32px;
    border: none;
    border-radius: 8px;
    color: white;
    background-color: #ED0066;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.btn-secondary {
    display: inline-flex;
    padding: 10px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: none;
    border-radius: 8px;
    color: white;
    background: rgba(255, 255, 255, 0.12);

}


/* section 1 */
header {
    margin-top: 50px;
}

header .content-1 {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/banner-image.png);
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: block;
    margin: auto;
}

header .content-1 h3 {
    font-family: 'Merriweather', serif;
    color: white;
    text-align: center;
    width: 600px;
    position: absolute;
    top: 25%;
    left: 35%;
}

.content-1 .title-1 {
    font-size: 32px;
    font-weight: 400;
}

.content-1 .sub-title-1 {
    font-size: 72px;
    font-weight: 900;
}


/* section 2 */
.content-2 {
    text-align: center;
    margin-top: 120px;
}

.offer {
    color: #ED0066;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
}

.subtext {
    color: #ED0066;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}

.category {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
}

.newyearimg {
    width: 802.9px;
    height: 500px;
}


/* section 3 */
.content-3 {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url(resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    border-radius: 16px;
    display: flex;
    margin: 120px auto;
}

.insider-3 {
    padding: 126px;
    width: 697px;
}

.content-3 .title-2 {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
}

.content-3 .sub-title-3 {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-weight: 400;
}

.right-img {
    padding-top: 68px;
    padding-right: 138px;
}


/* section 4 */
.content-4 {
    background: linear-gradient(180deg, rgba(237, 0, 102, 0.10) 0%, rgba(237, 0, 102, 0.00) 100%);
    border-radius: 10px;
    width: 1320px;
    height: 482px;
    text-align: center;
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

.pdt {
    padding-top: 100px;
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    text-transform: capitalize;
}

#join-now {
    margin-top: 48px;
}

.pdt .pdt-head {
    color: #ED0066;
}


/* section 5 */
.content-5 {
    margin-top: 230px;
}

.insider-5 {
    display: flex;
    justify-content: space-between;
    width: 1320px;
    margin: auto;

}

.text-1 {
    color: #ED0066;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.text-2 {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.text-3 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
}

.eclipse {
    padding: 30px;
    border: 15px solid #ED0066;
    border-radius: 100%;
}

.text-3 {
    width: 276px;
    margin-bottom: 16px;
}

.year {
    color: #ED0066;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}


/* section 6 */
.content-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.insider-6 {
    margin-top: 120px;
    text-align: center;
}

.short-text {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.big-text {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.holiday {
    color: #ED0066;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}

.big-descript {
    margin-top: -28px;
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 64px;    
}


#discount {
    position: relative;
    top: 100px;
    left: 120px;
    width: 220.048px;
    height: 220.048px;
}

.disc-rect {
    position: relative;
    width: 1320px;
    display: flex;
    justify-content: right;
}




/* section 7 */
.content-7 {
    margin-top: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.content-7 .text-1 {
    margin-bottom: 16px;
}

.content-7 .text-2 {
    margin-bottom: 22px;
}

.content-7 .text-3 {
    width: 896px;
    margin-bottom: 48px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    max-width: 1330px;
    gap: 24px;
}

.img-item:hover {
    border: 4px solid #ED0066;
    border-radius: 22px;
}


/* section 8 */
.content-8 {
    background: rgba(237, 0, 102, 0.05);
    border-radius: 16px;
    width: 1320px;
    height: 616px;
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    text-align: center;
}

.subscribe {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-bottom: 22px;
}

.p-text-3 {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    padding: 0px 212px;
    margin-bottom: 48px;
}

.sub-input {
    width: 438px;
    height: 72px;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 0 30px 0;
    color: #0702114D;
    font-size: 18px;
    font-weight: 400;
}

.sub-btn {
    width: 210px;
    height: 72px;
    border: none;
    border-radius: 0px 50px 50px 0;
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: 600;
    background-color: #ED0066;
    position: relative;
    left: -5px;
}


/* footer */
footer {
    margin-top: 120px;
    display: flex;
    background-color: #070211;
    height: 609px;
    padding-top: 120px;
    justify-content: center;
    color: #FFF;
}

.content-9 {
    width: 1320px;
}

.insider-footer {
    display: flex;
    gap: 560px;
    margin-bottom: 50px;
}


.address {
    width: 375px;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.phone,
.web {
    display: flex;
    gap: 8px;
    font-size: 24px;
    font-weight: 500;
}

.social {
    margin-top: 48px;
    gap: 24px;
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}

hr {
    border-color: rgba(255, 255, 255, 0.15);
    border-width: 1px;
}

.insider-footer-2 {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}